

:root{
    /* Background */
    --morning: linear-gradient( 243deg,  rgba(255,253,221,1) 13.4%, rgba(248,215,215,1) 82.1% );
    --afternoon: linear-gradient( 103.3deg,  rgba(253,109,104,1) 7.7%, rgba(248,150,105,1) 90.8% );
    --night: linear-gradient( 69.8deg,  rgba(25,49,108,1) 2.8%, rgba(1,179,201,1) 97.8% );
    /* Color */
    --light: #ffffff;
    --dark: #363636;
    /* font */
    --primary: 'Work Sans', sans-serif;
}
:focus {
    outline: none;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: var(--primary);
    background: var(--morning);
    color: var(--light);

} 

h1{
    
    margin: 5px;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    text-align: center;
}

.error{
    animation: error alternate .1s ;
    animation-iteration-count: 3;
}

label{
    font-weight: 500;
    font-size: 40px;
}

input[type="text"]{
    border: none;
    background: transparent;
    border-bottom: 1px solid #efbfc4;
    margin: 10px;
    font-size: 22px;
    padding: 5px;
    text-align: center;
}
button{
    cursor: pointer;
    border: 1px solid #efbfc4;
    background: transparent;
    padding: 5px 30px;
    border-radius: 30px;
    margin: 1rem;
}
button:hover{
    background: #efbfc4
}

#temperature{
    font-size: 60px;    
}
#weather,
#humidity,
#date{
    font-weight: 300
}



/* icon */
.icon{
    display: block;
    height: 150px;
    width: 150px;
    margin: 1rem;
}
.sole{
    background: url(./svg/sun.svg);
    background-size: cover;
    animation: rotates infinite 20s linear;
}
.sole.pm{
    background: url(./svg/mon.svg);
}
.soleggiato{
    background: url(./svg/sun-cloud.svg);
    background-size: cover;
    animation: scale alternate 3s ease-in-out;
    animation-iteration-count: infinite;
}
.nuvoloso{
    background: url(./svg/cloud.png);
    background-size: cover;
    animation: poing alternate 3s linear;
    animation-iteration-count: infinite;
}
.piovoso{
    background: url(./svg/rain.svg);
    background-size: cover;
    animation: scale alternate 3s ease-in-out;
    animation-iteration-count: infinite;
}
.temporale{
    background: url(./svg/storm.svg);
    background-size: cover;
}


/* animation */
@keyframes rotates {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
@keyframes poing {
    from {
      transform: translateX(-10%);
    }
    to {
      transform: translateX(10%);
    }
}
@keyframes upAndDow {
    from {
      transform: translateY(-10%);
    }
    to {
      transform: translateY(10%);
    }
}
@keyframes scale{
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.05);
    }
}

@keyframes error{
    from{
        transform: translateX(-10%);
    }to{
        transform: translateX(10%);
    }
}

